.select2-selection--single {
   height: calc(2.75rem + 2px) !important;
}

.select2-selection__arrow {
   height: calc(2.75rem + 2px) !important;
}

.select2-selection__rendered {
   line-height: 2.75rem !important;
}

.select2-container {
    display: block;
    width: 100% !important;
}
